baseURL = "https://texasdistanceproject.com/"
languageCode = "en-us"
title = "Texas Distance Project"
theme = "ananke"
[pagination]
  pagerSize = 10

[params]
  description = "High School Distance Running in Texas"
  recent_posts_number = 5
  background_color_class = "bg-dark-blue"

[taxonomies]
  category = "categories"
  tag = "tags"

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    identifier = "categories"
    name = "Categories"
    url = "/categories/"
    weight = 3
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 4

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[outputs]
  home = ["HTML", "RSS"]
